@import url(reset.css);
@import url(animation.css);
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 30px;
}
.logo{
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 30px;
}
.picture-logo img{
    width: 40px;
}
.nav{
    display: none;
}
.nav-list{
    display: none;
}
/*
MAIN
*/
.picture-perfil img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: border-rotation 2s linear alternate infinite;

    margin: 20px;
}


.text-perfil h1,
.text-perfil h1 span{
    font-size: 20px;
}
.text-perfil h2{
    font-size: 16px;
}
.text-perfil p{
    font-size: 14px;
}
.comunication{
    width: 250px;
}

.more-about{
    width: 250px;
}
.comunication p, .more-about p{
    font-size: 14px;
}