@import url(reset.css);
@import url(animation.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --azul-escuro: #0D1B2A;
    --azul: #1E3A8A;
    --azul-claro: #2563EB;
    --vermelho: #EF4444;
    --cinza: #F5F7FA;
}

/* ------ RESET ----------- */
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body {
    background-color: var(--azul-escuro);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/*---------- HEADER -----------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;

    border-bottom: 2px solid var(--azul);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.308);
}

/*   menu  */

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

.picture-logo img {
    width: 26px;
}

.menu-btn {
    color: #fff;
    background-color: var(--azul-escuro);
    border: none;
}

.menu-active {
    cursor: pointer;
    color: var(--vermelho);
}

.menu-mobile .nav-list {
    background-color: var(--azul-escuro);

    display: flex;
    flex-direction: column;
    gap: 9px;

    width: 100%;
    padding: 8px 10px;

    list-style: none;
    position: absolute;

    border-bottom: 1px solid var(--vermelho);
}
.menu-off{
    display: none;
}
/* menu desktop */
.menu-desktop {
    display: none;
}

a.ativo {
    color: var(--vermelho);
}

.nav-list li:hover,
.nav-list a:hover {
    color: var(--vermelho);
    transition: all 0.3s ease-out;
}


/*
MAIN
*/
.picture-perfil {
    display: flex;
    justify-content: center;
}

.picture-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #000;

    margin: 20px;
    animation: border-rotation 2s linear alternate infinite;
}

.text-perfil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text-perfil h1,
span {
    font-size: 30px;
    color: #ffffff;
}

.text-perfil span {
    color: #ff0000;
}

.text-perfil h2 {
    font-size: 20px;
    color: var(--azul-claro);
}

.text-perfil p {
    font-size: 18px;
    color: #ffffff;
    width: 50vw;
    text-align: center;
}

.picture-social {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 19);
    padding: 10px;
    border-radius: 50%;
}

.picture-social svg {
    width: 25px;
    height: 25px;
}

.picture-social:hover {
    transition: all 0.3s ease;
    scale: 1.2;
    transform: rotate(5deg);
}

.picture-social:active {
    animation: click 1s ease;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
}

/* //////   SOCIAL ICONS /////////// */

.social-icons {
    display: flex;
    justify-content: center;
    gap: 12px;

    padding: 30px 0;
}

.social-icons a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #0000003f;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .5s ease-in-out;
}

.social-icons a:hover {
    background: var(--vermelho);
}

/*///////////////////Contener Sobre ////////////*/
.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid var(--azul-claro);
    border-radius: 10px;

    width: 350px;
    height: 50px;

    transition: 0.4s ease-in-out;
}

a.whatsapp-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-align: center;

    border: 1px solid lightgreen;
    border-radius: 10px;

    width: 350px;
    height: 50px;

    transition: 0.4s ease-in-out;
}

div.more a.about:hover,
div.more a.whatsapp-contact:hover {
    scale: 1.04;
    border: 1px solid var(--vermelho);
}